<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value=''">
      <input #newTodoInput
             name="newTodoInput"
             class="new-todo"
             autocomplete="off"
             placeholder="Que faire?"
             autofocus />

    </form>

  </header>
  <section class="main">
    <button (click)="reconnaissanceVocale()">
      <span [class.speech-open]="isSpeechOpen" class="speech"></span>
    </button>
    <input class="toggle-all"
           type="checkbox"
           name="toggleAll"
           [ngModel]="isAllDone()"
           (ngModelChange)="toggleAllDone()" />
    <ul class="todo-list">
      <li *ngFor="let item of items"
          [class.completed]="item.isDone"
          [class.editing]="itemCompo.editionMode">
        <app-todo-item #itemCompo [hidden]="!estItemAffiche(item)" [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer *ngIf="items.length > 0">
    <div class="footer">
      <span class="todo-count"><strong>{{compteurItems()}}</strong> restantes</span>
      <ul class="filters">
        <li>
          <a class="filterAll" (click)="setFiltre(state.all)" [class.selected]="checkState(state.all)">Tous</a>
        </li>
        <li>
          <a class="filterActives" (click)="setFiltre(state.actived)" [class.selected]="checkState(state.actived)">Actifs</a>
        </li>
        <li>
          <a class="filterCompleted" (click)="setFiltre(state.completed)" [class.selected]="checkState(state.completed)">Complétés</a>
        </li>
      </ul>
      <button class="clear-completed" [hidden]="!isItemCoches()" (click)="supprimeItemCoches()">Supprimer cochées</button>
    </div>
    <div class="footer">
      <button class="clear-completed" [class.bloquer]="!isAnnuler()" (click)="annulerRefaireItems(true)">Annuler</button>
      <button class="clear-completed" [class.bloquer]="!isRefaire()" (click)="annulerRefaireItems(false)">Refaire</button>
      <button class="clear-completed" (click)="supprimeTousItems()">Tous effacer</button>
    </div>
  </footer>

</section>
<hr />


<div style="text-align:center">
  <input type="button" (click)="genererQRCode()" value="Générer QR Code" />

  <ngx-qrcode [elementType]="elementTypeQRCode"
              [value]="valueQRCode"
              cssClass="aclass"
              errorCorrectionLevel="L">
  </ngx-qrcode>

</div>




<!--<h2>Debug V5</h2>
<li *ngFor="let item of items">
  <input type="checkbox" (ngModelChange)="setItemDone(item, $event)" [ngModel]="item.isDone" />
  <form (submit)="itemLabel(item, newLab.value)">
    <input type="text" #newLab [ngModel]="item.label" name="label">
  </form>
  <input type="button" (click)="removeItem(item)" value="Supprimer" />
  <pre>{{ item|json }}</pre>
</li>-->
